<div id="main" class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/posts" style="text-decoration:none;">
        <img src="/assets/lion1.png" alt="Lights" style="height:200px;">
        <div class="caption">
          <center><p class="text-primary">게시판</p></center>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/posts/new" style="text-decoration:none;">
        <img src="/assets/lion2.png" alt="Nature" style="height:200px;">
        <div class="caption">
          <center><p class="text-warning">새글작성</p></center>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/info" style="text-decoration:none;">
        <img src="/assets/lion3.png" alt="Fjords" style="height:200px;">
        <div class="caption">
          <center><p class="text-danger">내정보</p></center>
        </div>
      </a>
    </div>
  </div>
</div>
